body{
    display: flex;
    flex-direction: column;
    background-color: #D1D2F0;
    align-items:center;
}

.recipe{
    border: black 1px solid;
    border-radius: 20px 20px 20px 20px;
    margin: 25px;
    padding: 20px;
    width: 50%;
    text-align: center;
    font-family: 'Brush Script MT', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    background-color: #C9F4F4;
    box-shadow: 5px 5px 5px 5px #888888;
}

h1, 
.heading{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
}

img{
    width: 30%;
    border-radius: 50px;
    box-shadow: gray 5px 5px 5px 5px;
    margin: 50px;
}

p,
.description{
    width:50%;
    margin: 0px 0px 30px 0px;
}

h2{
    margin: 20px 0px 0px 0px;
}

li{
    padding: 2%
}

ul,
.ingredients,
.directions {
    width: 50%;
}